<div class="signin-container h-100 w-100 d-flex flex-row justify-content-center align-items-center">
    <form action="" class="border m-3 p-3">
        <h1 class="text-light text-center">Signin Form</h1>
        <div class="row">
            <div class="col">
                <div class="content">
                    <label for="">Email or phone</label>
                </div>
                <div class="input">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <label for="">Password</label>
                </div>
                <div class="input">
                    <input type="text" class="form-control">
                </div>
                <div class="forgot-link">
                    <a href=""class="text-dark">Forget Password</a>
                </div>
            </div>
            <div class="col mt-4">
                <button class="btn border">Login</button>
            </div>
        </div>
    </form>
</div>