<div class="home-container">
    <div class="image w-50 float-left">
        <img src="{{myImg}}" class="w-100"alt="">
    </div>
    <div class="content" *ngFor="let i of finalDetails">
        <h2>My name is {{i.name}},My age is {{i.age}} . I belongs to {{i.place}},But present i am living in {{i.presentplace}} . I have done my {{i.course}} in the stream of Computer Applications.I have a skills on {{i.skills}} . I am a fresher graduate , i don't have any experience . My Hobbies are {{i.Hobbies}} . My strengths are {{i.Strengths}} , My goal is {{i.goal}} . My father name is K.{{i.fathername}},My mother name is K.{{i.Mothername}} , I have one sibling name is K.{{i.brothername}}</h2>
    </div>
</div>